.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fafafa;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #21252a;
    margin: 0;
    line-height: 0.8;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: -1.5px;
    font-weight: 700;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(12deg);
    }
    30% {
        transform: rotate(-15deg);
    }
    40% {
        transform: rotate(9deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.description {
    width: 450px;
    margin: 20px auto;
    text-align: center;
}

.subdescription {
    width: 320px;
    margin: 20px auto;
    text-align: center;
    color: #8d8d8d;
}

.subdescription a {
    font-weight: 700;
    transition: color 0.2s ease;
}

.subdescription a:hover {
    color: #2ea1f2;
}
